@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1650557732500') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwuchekong:before {
  content: "\f0179";
}

.icon-xinlangweibo:before {
  content: "\f01af";
}

.icon-weixin:before {
  content: "\f0106";
}

.icon-yonghu:before {
  content: "\e633";
}

.icon-jiantou:before {
  content: "\e662";
}

.icon-weixiubanshou:before {
  content: "\e715";
}

.icon-liwuhuodong:before {
  content: "\f01da";
}

.icon-gouwuche:before {
  content: "\e63f";
}

.icon-dizhi:before {
  content: "\e652";
}

.icon-shangchuan:before {
  content: "\e618";
}

.icon-buoumaotubiao46:before {
  content: "\e629";
}

.icon-fangdajing:before {
  content: "\e63d";
}

.icon-dajiantouyou:before {
  content: "\e72a";
}

.icon-shouji:before {
  content: "\e60e";
}

.icon-qitiantuihuan:before {
  content: "\e506";
}

.icon-jiantou-you-cuxiantiao-fill:before {
  content: "\e6ae";
}

.icon-huafeichongzhi:before {
  content: "\e6b0";
}

.icon-tian:before {
  content: "\e604";
}

.icon-louceng:before {
  content: "\e680";
}

.icon-bofang:before {
  content: "\e6c9";
}

.icon-yuanquanjiantou-zuo:before {
  content: "\e61d";
}

.icon-yijiuhuanxin:before {
  content: "\e603";
}

.icon-Fma:before {
  content: "\e614";
}

.icon-shijian:before {
  content: "\e61c";
}

.icon-sim:before {
  content: "\e501";
}

.icon-dian:before {
  content: "\e933";
}

